.flex{
  display: flex;
  gap: 30px;
  justify-content: space-between;
  margin: 25px;
}

.para1{
  font-family: inter;
  font-size: 20px;
  padding: 12px;
} 

.bar1{
  display:flex;

}

button{
  padding: 16px 70px;
  font-size: 20px;
  border-radius: 10px;
  
}

.b1{
  background-color: white;
}

.b1:hover{
  background-color: greenyellow;
}