.flex{
  display: flex;
  gap: 30px;
  justify-content: space-between;
  margin: 30px;
}

h1{
  font-family: inter;
  font-size: 60px;
}

p{
  font-family: inter;
}
.para1{
  font-size: 20px;
  padding: 12px;
} 

.bar1{
  display:flex;
}

button{
  font-size: 20px;
  border-radius: 14px;
  padding: 20px; 35px; 20px; 35px;
}
.b1{
  background-color: white;
}

.b1:hover{
  background-color: greenyellow;
}

.para2{
  font-size: 40px;
} 

.p1{
  font-size: 20px;
}

.b2{
  background-color: #191A23;
  color: white;
}

.flex2{
  display: flex;
  gap: 20px;
  justify-content: space-between;
  margin: 30px;
  padding: 10px; 100px; 10px; 100px;   
}

.clogo{
  justify-content: space-between;
  padding: 20px; 100px; 20px; 100px; 
  margin: 30px;
}

.b3{
  font-size: 18px;
  border-radius: 12px;
  padding: 10px; 15px; 10px; 15px;
  font-family: inter;
  background-color: #b9ff66;
  
}

.s1{
  padding: 10px;
  margin: 1px;
}

.flex3{
  display: flex;
  gap: 20px;
  justify-content: left;
  margin: 30px;
  padding: 10px; 100px; 10px; 100px;   
}

.b4{
  font-size: 30px;
  border-radius: 12px;
  padding: 10px; 15px; 10px; 15px;
  font-family: inter;
  background-color: #b9ff66;
  font-size: 20px;
}

.ratio{
  font-size: 18px;
  font-family: inter;

}

input{
  text-align: left;
  border-radius: 14px;
  padding-top: 18px;
  padding-right: 150px;
  padding-bottom: 18px;
  padding-left: 10px;

}

.box2{
  text-align: left;
  border-radius: 14px;
  padding-top: 18px;
  padding-right: 150px;
  padding-bottom: 100px;
  padding-left: 10px;

}
.box1{
  text-align: center;
  color: white;
  border-radius: 14px;
  padding-top: 18px;
  padding-right: 80px;
  padding-bottom: 18px;
  padding-left: 80px;
  background-color: #191A23;
  
}

.flex4{
  display: flex;
  gap: 30px;
  justify-content: space-between;
  margin: 30px;
  border-radius: 14px;
  margin: 30px;
  padding: 30px; 200px; 30px; 200px;  
  background: #F3F3F3; 
  
}

.para2{
  font-size: 20px;
  padding: 12px;
  color: white;
}

.flex5{
  display: flex;
  gap: 30px;
  justify-content: space-between;
  margin: 30px;
  background-color: #191A23;
  padding: 30px; 200px; 30px; 200px;  
}

.b5{
  font-size: 30px;
  border-radius: 12px;
  padding: 10px; 15px; 10px; 15px;
  font-family: inter;
  background-color: #b9ff66;
  font-size: 20px;
}

.p3{
  font-size: 20px;
  color: white;
}

.box6{
  text-align: left;
  color: white;
  border-radius: 12px;
  padding-top: 15px;
  padding-right: 50px;
  padding-bottom: 15px;
  padding-left: 10px;
  background-color: #20212c;
}


.flex6{
  display: flex;
  gap: 30px;
  justify-content: space-between;
  margin: 30px;
  background-color: #191A23;
  padding: 30px; 200px; 30px; 200px;  
}
